@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cabin:ital,wght@0,400;0,600;1,700&family=Open+Sans:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #475053;
    border-bottom: 4px solid #f7e5a7;
    height: 100%;;
}

header h1 {
    font-size: 40px;
    line-height: 50px;
    padding: 20px;
    color: #f7e5a7;
    text-shadow: 2px 2px 2px rgba(255, 255, 265, 0.5);
    font-family: 'Cabin', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85vh;
}

main div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:  100%;
    height: 100%;
    background-color: white;
}

main div div {
    display: flex;
    flex-direction: row;
    width:  300px;
    height: 300px;
    margin: 50px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

canvas {
    border: 5px solid #fde994;
    border-radius: 20px;
    width: 300px;
    height: 300px;

}

footer {
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
    background-color: #475053;
    color: #f5e5a5;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: #f5e5a5;
    transition: all 200ms ease-in-out;
}

footer a:hover {
    border: 2px solid white;
    padding: 2px;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: #3b3b39;
}

@media only screen and (max-width: 1200px) {

    header h1 {
        font-size: 35px;
        line-height: 40px;
    }
    
    main {
        flex-direction: column;
        height: 100%;
    }
    
    main div {
        display: flex;
        flex-direction: column;
    }

    footer {
        font-size: 18px;
        line-height: 25px;
    }
    
  }

  @media only screen and (max-width: 600px) {
    
    header h1 {
        font-size: 30px;
        line-height: 40px;
    }

    footer {
        font-size: 16px;
        line-height: 22px;
    }
    
  }